{{ define "main" }}
{{ template "header" }}
<!DOCTYPE html>
    <body>
        <h1 class="bigtitle">HA LOSHARA</h1>
        <hr>
        <div style="font-size:1.3em;">
            <p>(оф. перевод с английского языка: "ха лошара")</p>
            <p>Официальный амбассадор Мазура Максим (не лоха) в России. Выше представленная информация является законом РФ (1 Статья Флекса <a href="/ukrf">УКРФ</a>: отказ от принятия, что ты лох от официального амбассадора Мазура Максима Владиславовича в России) и не оспаривается. Запросы на исключение из списка лохов должны быть отправлены Максиму Мазуру Владиславовичу.</p>
            <p>Внимание! Выше представленная информация не является достоверной(2 Статья Флекса УКРФ: заявление о достоверности информации о том, что пользователь лох, без прохождения официальной проверки на достоверность информации о том, что гражданин РФ является лохом.). Автор либо дебил (но не лох), либо не успел пройти официальную проверку.</p>
        </div>
    </body>
</html>
{{ end }}